$tam-fuente-titulo: 100px;
$tam-fuente-subtitulo: 60px;
$tam-fuente-subtitulo-movil: 50px;
$tam-fuente-parrafo: 20px;
$tam-fuente-card: 13px;
$estilo-fuente-principal: 'Oswald', sans-serif;
$estilo-fuente-secundaria: 'Playfair Display', serif;